:root {
  --wallet-height: 600px;
  --wallet-width: 300px;

  /* These are all defaults provided by Vite */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color palette */
  --mid-blue: #419cfd;
  --white: #f5f5f5;
  --light-grey: #ccc;
  --mid-grey: #999;
  --dark-grey: #d9d9d9;
  --black: #4d4d4d;

  /* From website */
  --dark-blue: #1e2e54;
  --pale-blue: #76d9ff;
  --bright-green: #90d072;
  --teal: #3797bc;
  --link-color: var(--mid-blue);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

div {
  display: grid;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  width: 300px;
  height: 600px;
  color: var(--black);
  text-align: center;
  background-color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

button:focus,
button:focus-visible,
button:hover {
  outline: none;
  border-color: transparent;
}

/* Borrowed from https://codepen.io/GhostRider/pen/oNvoNv */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--white);

  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--mid-grey);
  border: 2px solid var(--light-grey);
  border-radius: 4px;
}

/* Need to specify nobdy as normalize.css already has settings for h1 */
body h1 {
  font-size: 24px;

  /* Colored background techique used on website */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    350deg,
    var(--dark-blue),
    var(--teal),
    var(--bright-green)
  );
}
